name: Run Python evals

on:
  push:
    paths:
      - "evals/**"

permissions:
  pull-requests: write
  contents: read

jobs:
  eval:
    name: Run evals
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install dependencies
        env:
          UV_SYSTEM_PYTHON: 1
        run: |
          uv pip install -r requirements.txt

      - name: Run Evals
        uses: braintrustdata/eval-action@add-slack-integration  # Replace with actual branch name
        env:
          BRAINTRUST_API_KEY: ${{ secrets.BRAINTRUST_API_KEY }}
          PROJECT_NAME: "Nlp_Writer"
          PYTHONPATH: ${{ github.workspace }}
        with:
          api_key: ${{ secrets.BRAINTRUST_API_KEY }}
          runtime: python
          package_manager: uv
          root: evals
          slack_webhook_url: ${{ secrets.SLACK_WEBHOOK_URL }}